*:focus {
    outline: none;
}

/* Process Menu Left List */
#leftMenu {
    margin-top: 15px;
}
.listMenu .md-no-style {
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
}
.listMenu .md-no-style md-icon {
    margin-right: 32px;
    margin-left: 0;
}
/* END : Process Menu Left List */