<md-dialog aria-label="Mango (Fruit)">
    <md-content class="sticky-container">
        <md-subheader class="md-sticky-no-effect" layout-align="center">TẠO CHIẾN DỊCH</md-subheader>
        <div class="dialog-content">
            <form name="campaignForm">
                <md-input-container>
                    <label>Tên chiến dịch</label>

                    <input required name="campaignName" ng-model="campaign.campaignName">

                    <div ng-messages="campaignForm.campaignName.$error">
                        <div ng-message="required">Bắt buộc nhập.</div>
                    </div>

                </md-input-container>
            </form>

        </div>
    </md-content>
    <div class="md-actions" layout="row">

        <span flex></span>
        <md-button ng-click="cancel()">
            Huỷ
        </md-button>
        <md-button ng-click="created(campaign.campaignName)" class="md-primary">
            Tạo mới
        </md-button>
    </div>
</md-dialog>