<md-input-container>
    <label>Nhập chiến dịch</label>
    <input ng-model="nameCampaign">

</md-input-container>
<md-button class="md-primary md-raised" ng-click="createCampaign();">Thêm chiến dịch</md-button>

<div>
    <md-list>
        <md-subheader class="md-no-sticky">Danh sách chiến dịch</md-subheader>
        <table layout="row" layout-align="center start">
            <tr ng-repeat="campaign in campaigns track by $index" >
                <td style="width: 150px;">{{ campaign.name}} </td>
                <td><md-button class="md-primary" ng-click="removeCampaign($index)">Xoá</md-button></td>
            </tr>
        </table>

    </md-list>
</div>